venv/
phase1/memory.json
phase2/python_basics/miniboss/sales.csv
phase2/apis/02_user_array.json
phase2/apis/01_tarea_requests.json
phase2/apis/02_validated_user_array.json
phase2/python_basics/miniboss/sales_report.json
phase2/oop/miniboss/minions/config_singleton.json
phase2/sql/mina_de_datos.db
phase2/sql/reporte_misiones.csv
phase2/sql/semana4_mina_registros.py
phase2/apis/__pycache__/
phase2/__pycache__
__pycache__
